@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Codystar:wght@300;400&family=Fugaz+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

//Color variables 
$title-color:rgb(255, 255, 255);
$description-color:rgba(203, 203, 203, 0.788);


//Font Families 
$movie_description-font: "Arial";
$movie_title-font: "Codystar", sans-serif;
$description-font:"Verdana", sans-serif;
$movies-title:"Roboto", sans-serif;


html, body{
height: 100%;
margin:0;
padding:0;
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23780D00'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.44'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .App {
    flex: 1;
  }

.header-title{
font-size: clamp(2.8rem, 5vw, 3rem);
font-family:$movie_title-font;
text-align: center;
font-weight: 600;
color:$title-color;
position: relative;
top:15px;

    color{
        color:rgb(255, 52, 52);
    }

    color2{
        color:rgb(114, 43, 255);
    }
}

.header-container{
    position: absolute;
    height:300px;
    width:100%;
    background-color:rgba(14, 14, 14, 0.716); 
    border-top:8px dotted white ;
    backdrop-filter: blur(10px);
    border-bottom: 8px dotted rgb(255, 255, 255);
    z-index:0;
}

.header-description{
    text-align: center;
    font-family: $description-font;
    font-size: 1rem;
    color:$description-color;
    position: relative;
    top:15px;
    width:80%;  
    left:50%;
    transform: translate(-50%);
    z-index:-1;
    margin-left: 5px;

    desccolor{
        color:#F5C518;
    }
}

.App{
    width: 100%;
    padding-top: 420px; 
}


#input{
    position: relative;
    left:50%;
    bottom:180px;
    transform: translate(-50%);
    border:3px outset #7c7c7c;
    border-radius: 5px;
    width:15em;
    height:30px;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.3rem);
}

#input:focus{
outline:none;
border:3px outset #F5C518;
}

#movies{
  width: 100%;
  max-width: 300px;
  background-color: #48080084;
  backdrop-filter:sepia(90%);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  border:2px outset rgba(145, 145, 145, 0.78);
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  height: auto;
  max-width: 1700px;
  position: relative;
}

#movies:hover{
  animation: rainbowShadow 4s infinite ease-in-out;
}



@keyframes rainbowShadow {
  0% {
    box-shadow: 0 0 20px red;
  }
  16% {
    box-shadow: 0 0 20px orange;
  }
  33% {
    box-shadow: 0 0 20px yellow;
  }
  50% {
    box-shadow: 0 0 20px green;
  }
  66% {
    box-shadow: 0 0 20px blue;
  }
  83% {
    box-shadow: 0 0 20px indigo;
  }
  100% {
    box-shadow: 0 0 20px red;
  }
}

#movies h5 {
  margin: 0.5em 0; 
  color: $title-color;
  font-family: $movies-title;
  font-size:23px;
  text-align: center;
  color: $title-color;
}

#movies p {
  margin: 0.5em 0; 
  color: $description-color;
  font-family: $movie_description-font;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;

}


.poster-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: block;
}

p{
    text-align: center;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(60, 74, 75);
}

.footer {
    width: 100%;
    height: 40px;
    background-color: rgba(40, 39, 39, 0.394);
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    color: white;
   
  }
  
  .footer-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(180, 180, 180);
    display: flex;
    align-items: center;
    gap: 8px; 
    margin: 0;
    position: static; 
  }
  
  .loader{
    background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="%23FFFFFF" stroke="%23FFFFFF" stroke-width="11" r="15" cx="40" cy="65"><animate attributeName="cy" calcMode="spline" dur="2" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="%23FFFFFF" stroke="%23FFFFFF" stroke-width="11" r="15" cx="100" cy="65"><animate attributeName="cy" calcMode="spline" dur="2" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="%23FFFFFF" stroke="%23FFFFFF" stroke-width="11" r="15" cx="160" cy="65"><animate attributeName="cy" calcMode="spline" dur="2" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>');
    width: 100px;
    height: 100px;
   
}




//tablet devices
@media (max-width: 800px) {
   .header-title{
    font-size: clamp(2.4rem, 3vw, 2.2rem);
    top:5%;
    
   }

   .header-description{
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    top:5%;
}
  }
  
  //phone devices 
  @media (max-width: 390px) {
    .header-title{
     font-size: clamp(2rem, 3vw, 2.6rem);
     
    }
  }


 